.moment1 {
    float: left;
  }
    
.moment1 img {
margin-top: 10px;
border-radius: 10px;
height: 150%;
width: 100%;
}
    
.moment1Text {
float: left;
}
    
.moment1Text p, h3 {
    margin-left: 5px;
    word-wrap: break-word;
}

.moment1Text p{
    font-size: 12pt;
    color: #657786;
}